@using CRUD_PersonasDef_Entidades
@model CRUD_PersonasDef_ASP.Models.clsPersonaTodosDepartamentos


<h1>Editar persona</h1>
<h1 style="color:red"> @ViewBag.mensajeNegativo </h1>
<h1 style="color:green"> @ViewBag.mensajePositivo </h1>
<h4>Cambie los datos necesarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div >
                <label asp-for="Id" class="control-label"></label>
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--<label asp-for="IDDepartamento" class="control-label"></label>
                <input asp-for="IDDepartamento" class="form-control" />
                  -->
            <select asp-for="IDDepartamento">
                @foreach(clsDepartamento dpto in Model.Departamentos )
                {
                    <option value="@dpto.ID">@dpto.Nombre</option>
                }
            </select>
                <span asp-validation-for="IDDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit"  value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
